<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076339141215-b7f93972vpnomr2oq9o52jvhuo0obhk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076339141215-b7f93972vpnomr2oq9o52jvhuo0obhk5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1076339141215-shv24bpt8h1bc49a7cjt2eedrsf4kbhs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjEiTNIIk4Ihb5KoBhJT0tbUHCFPHzvpU</string>
	<key>GCM_SENDER_ID</key>
	<string>1076339141215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter</string>
	<key>PROJECT_ID</key>
	<string>greentrail-416ed</string>
	<key>STORAGE_BUCKET</key>
	<string>greentrail-416ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076339141215:ios:0c37eaabebaab10f1909ea</string>
</dict>
</plist>