<ion-header>
  <link rel="stylesheet" href="login.page.scss">
  <link rel="script" href="login.page.ts">
  <link rel="index" href="index.html">
  <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
</ion-header>

<ion-content>
  <ion-content>
    <ion-button id="loginButton" (click)="doLogin()" mode="ios">
      <ion-img style="position: absolute ;left: 1px" src="assets/icon/google-icon.png"></ion-img>
      <h3 style="color: dimgrey;position: absolute ;left: 32px">Login with Google</h3>
    </ion-button>
  </ion-content>
</ion-content>
